.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  margin:0;
}

.App-header {
  background-color: #280C43;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-footer {
  position: fixed; /* Fixed position at the bottom */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#280C43;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.App-footer .copyright {
  display: inline-block; /* Ensure inline block display for centering */
}

.MuiPaper-root 
{
  box-shadow: none !important;
}

.image-section img{
  max-width: 100%;
  height: auto;
  width: 400px;
}